.reviews {
    padding-bottom: 50px;
    h2{
        margin-bottom: 60px;
    }
    &__item {
        display: flex;
        margin-bottom: 60px;
    }
    img {
        width: 169px;
        height: 169px;
        margin-right: 60px;
    }
    &__header {
        font-weight: 700;
        font-size: 18px;
        color: #0D0D0D;
    }
    &__subheader {
        font-weight: 500;
        font-size: 14px;
        color: #646464;
        margin-bottom: 15px;
    }
    &__txt {
        font-weight: 300;
        font-size: 16px;
        color: #0D0D0D;
    }
}