.title {
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 30px;
    color: #0D0D0D;
    &-left {
        text-align: left;
        color: #FFFFFF;
        font-size: 36px;
    }
}